p{
  margin: 0;
  padding: 0;
}
body{
  background-color: #181C14;
  color: #ECDFCC;
}
header{
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECDFCC;
  color: #181C14;
  h1{
      font-size: 1.6rem;
  }
}

.todo-list{
  margin: 2rem auto;
  .todo{
      display: flex;
      gap: 1rem;
      align-items: center;
      background-color: #3C3D37;
      padding: 1rem;
      border-radius: 0.4rem;
      margin-top: 0.6rem;
  }
}

.add{
  background-color: #ECDFCC;
  padding: 1.2rem;
  position: fixed;
  width: fit-content;
  right: 4rem;
  bottom: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.4rem;

  input{
      padding: 0.2rem 0.4rem;
      border: none;
      &:focus{
          outline: none;
      }
  }

  button{
      background-color: #181C14;
      color: #ECDFCC;
      font-size: 1rem;
      padding: 0 1rem;
      border-radius: 999rem;
      height: 3rem;
  }
}

.overline{
  text-decoration: line-through;
}

.removeTodo{
  background-color: #181C14;
  color: #ECDFCC;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: 999rem;
  height: 3rem;
}